
th, td, p, input 
{
    font:25px Verdana;}

table, th, td 
{
    border: solid 1px #DDD;
    border-collapse: collapse;
    padding: 2px 3px;
    text-align: center;

}
th {
    font-weight:bold;
}
table, th, td {
    border: 1px solid rgb(31, 11, 148);
  }
